body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 20px;

}
.button{
    background: #a11616;
    color: #FFF;
    border: 0;
    padding: 1em 2em;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{
    background: #bbbbbb
}
.modal{
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background: #00000070;
}
.content{
    background: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 #00000077, 0 5px 8px 0 #00000093;
    animation-name: modalOpen;
    animation-duration: 1s;

}
.closeBtn{
    float: right;
    font-size: 30px;
}
.closeBtn:hover, .closeBtn:focus{
    color: #adadad;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalOpen{
    from{opacity: 0}
    to{opacity: 1}
}
